<footer class="mt-auto overflow-hidden bg-black p-6">
  <div
    class="mx-auto xl:container"
    data-aos="fade-up"
    data-aos-duration="1000"
    data-aos-anchor-placement="top-bottom"
  >
    <div
      class="sm:flex sm:flex-col-reverse sm:items-center lg:flex-row lg:justify-between"
    >
      <a href="index.html" class="h-7 w-32 sm:mb-8 lg:mb-0 lg:block">
        <img
          class="h-full w-full object-contain"
          src="./images/svg/logo.svg"
          alt="bu yerda Vektor IT Academy Logotipi bo'lishi mumkin edi!"
        />
      </a>
      <p
        class="font-abel text-base font-normal tracking-tight text-white opacity-60 sm:order-first lg:order-1"
      >
        Created by "Vector IT Academy" Students
      </p>
      <ul class="flex sm:mb-10 lg:mb-0">
        <li class="mr-8">
          <a
            class="block h-9 w-9 duration-150 hover:scale-x-110 hover:scale-y-110"
            href="#!"
            ><img
              class="h-full w-full object-contain"
              src="./images/svg/facebook.svg"
              alt=""
          /></a>
        </li>
        <li class="mr-8">
          <a
            class="block h-9 w-9 duration-150 hover:scale-x-110 hover:scale-y-110"
            href="https://t.me/vector_academy_uz"
            ><img
              class="h-full w-full object-contain"
              src="./images/svg/telegram.svg"
              alt=""
          /></a>
        </li>
        <li class="mr-8">
          <a
            class="block h-9 w-9 duration-150 hover:scale-x-110 hover:scale-y-110"
            href="#!"
            ><img
              class="h-full w-full object-contain"
              src="./images/svg/instagram.svg"
              alt=""
          /></a>
        </li>
        <li class="mr-8">
          <a
            class="block h-9 w-9 duration-150 hover:scale-x-110 hover:scale-y-110"
            href="#!"
            ><img
              class="h-full w-full object-contain"
              src="./images/svg/youtube.svg"
              alt=""
          /></a>
        </li>
        <li>
          <a
            class="block h-9 w-9 duration-150 hover:scale-x-110 hover:scale-y-110"
            href="#!"
            ><img
              class="h-full w-full object-contain"
              src="./images/svg/tel.svg"
              alt=""
          /></a>
        </li>
      </ul>
    </div>
  </div>
</footer>