<main class="pt-24">
  <section
    class="xl:h-[calc(100vh-91px)] overflow-clip bg-quadro bg-cover bg-center bg-no-repeat sm:mb-8 sm:pb-6 md:relative md:mb-0 xl:pb-0">
    <div class="mx-auto xl:container sm:px-4 sm:pt-10 md:px-0 xl:pt-32">
      <div class="md:flex md:justify-center">
        <div class="sm:w-auto md:w-[723px] mega:w-1/2">
          <h1 class="mb-3 whitespace-pre-line font-main font-bold text-white sm:text-5xl xl:min-h-72 xl:text-8xl"
            [innerHTML]="titleText()"></h1>
          <p data-aos="fade-up" data-aos-duration="500" data-aos-offset="0"
            class="mb-8 font-abel text-2xl font-normal tracking-wide text-white opacity-60">
            Malakali mutaxassislar bilan amaliy va nazariy ko'nikmalarga ega bo'ling va Oʻz yoʻlingizni muvaffaqiyat
            bilan
            yarating!
          </p>
        </div>
      </div>
    </div>
    <div class="shadow-el"></div>
    <div class="shadow-el2"></div>
  </section>
  <section class="bg-main sm:pb-12 sm:pt-6 md:pt-24 lg:pb-24">
    <div class="mx-auto xl:container sm:px-4 md:px-0">
      <h2 class="mb-6 text-center font-main font-bold text-white sm:text-2xl lg:text-h2" data-aos="zoom-in"
        data-aos-duration="1000">
        Bizning kurslar
      </h2>
      <p class="mx-auto mb-10 text-center font-abel font-normal tracking-wide text-white opacity-60 md:w-6/12"
        data-aos="zoom-in" data-aos-duration="1000">
        Biz “Axborot texnologiyalari” sohasida o’z kasbini yanada chuqur ustasi
        bo’lishni xohlaganlarga bilim va tajriba ulashamiz.
      </p>
      <div class="mx-auto grid gap-8 sm:w-auto md:w-10/12 md:grid-cols-2 lg:grid-cols-3">
        @for(item of dataService.data(); track item.id) {
        <a class="min-h-52 rounded border border-solid border-brzinc p-5 duration-150 hover:border-orange cursor-pointer"
          data-aos="zoom-in" data-aos-duration="1000" [routerLink]="['/course', item.id]">
          <div class="inner mb-5">
            <img class="h-14 w-14 object-contain" [src]="item.image" [alt]="item.description" />
          </div>
          <div>
            <h3 class="mb-5 line-clamp-1 font-main text-cardT font-bold text-white">
              {{ item.name }}
            </h3>
            <p class="line-clamp-3 font-abel text-sm font-normal text-white opacity-60">
              {{ item.description }}
            </p>
          </div>
        </a>
        }
      </div>
    </div>
  </section>
  <section class="bg-black lg:py-20">
    <div class="mx-auto xl:container sm:px-4 md:px-0">
      <div class="sm:grid sm:grid-cols-1 sm:gap-0 md:grid-cols-2 md:gap-5">
        <div class="sm:h-52 md:h-96" data-aos="fade-right" data-aos-duration="1000">
          <img class="h-full w-full object-contain object-center" src="./images/svg/user.svg" alt="" />
        </div>
        <div class="flex items-center" data-aos="fade-left" data-aos-duration="1000">
          <div class="md:pl-8">
            <h2 class="mb-4 line-clamp-1 font-main font-bold text-white sm:text-2xl lg:text-h2 lg:leading-10">
              Bizni tanlashingizga sabab
            </h2>
            <p
              class="mb-8 line-clamp-4 w-10/12 font-abel text-base lg:text-2xl font-normal tracking-tight text-white opacity-60">
              Bizning kurslarimizni haqiqiy tajribaga ega bo'lgan soha mutaxassislari olib boradi, bu sizga ish
              beruvchilar
              qadrlaydigan amaliy ko'nikmalarni o'rganishingizni ta'minlaydi.
            </p>
            <a href="#!"
              class="inline rounded-3xl bg-orange px-5 py-4 font-main text-sm font-bold uppercase text-black duration-150 hover:opacity-80 sm:mx-auto sm:w-40 sm:text-center md:mx-0 md:ml-4">
              <span class="align-text-top">
                darslarga yozilish
              </span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="bg-black pb-16 sm:pt-12 lg:pt-20">
    <div class="mx-auto xl:container sm:px-4">
      <div class="sm:grid sm:grid-cols-1 md:grid-cols-2 md:gap-4 justify-items-center items-center">
        <h2 class="line-clamp-3 font-main font-bold text-white sm:mb-5 sm:text-2xl md:mb-0 lg:text-h2 lg:leading-10"
          data-aos="fade-right" data-aos-duration="1100">
          Bizning o'quvchilarimiz ishlaydigan kompaniyalar
        </h2>
        <p class="line-clamp-4 font-abel text-base font-normal tracking-tight text-white opacity-60 sm:w-auto md:w-10/12"
          data-aos="fade-left" data-aos-duration="1100">
          Bizning IT kurslarimizni tamomlagan o'quvchilar yirik kompaniyalarda
          yuqori malakali mutaxassis sifatida faoliyat yuritishmoqda. Ular
          dasturlash, tizim administratsiyasi va dizayn yo'nalishlarida
          yutuqlarga erishib, innovatsion loyihalarda muvaffaqiyatli ishlamoqda.
          Siz ham ularning safida bo'lishingiz mumkin!
        </p>
      </div>
    </div>
  </section>
  <section class="overflow-auto bg-black sm:pb-20 md:pb-32">
    <div class="mx-auto mega:container">
      <div class="enable-animation">
        <div class="marquee marquee--hover-pause">
          <ul class="marquee__content flex items-center">
            <li
              class="flex h-18 w-50 items-center justify-center rounded-lg border border-brzinc duration-150 hover:border-orange">
              <img class="h-10 w-40 object-contain object-center" src="./images/svg/tuning-logo.svg" alt="" />
            </li>
            <li
              class="flex h-18 w-50 items-center justify-center rounded-lg border border-brzinc duration-150 hover:border-orange">
              <img class="h-10 w-40 object-contain object-center" src="./images/svg/davr-bank.png" alt="" />
            </li>
            <li
              class="flex h-18 w-50 items-center justify-center rounded-lg border border-brzinc duration-150 hover:border-orange">
              <img class="h-10 w-40 object-contain object-center" src="./images/svg/tecnocorp.svg" alt="" />
            </li>
            <li
              class="flex h-18 w-50 items-center justify-center rounded-lg border border-brzinc duration-150 hover:border-orange">
              <img class="h-10 w-40 object-contain object-center" src="./images/svg/uniconsoft.svg" alt="" />
            </li>
            <li
              class="flex h-18 w-50 items-center justify-center rounded-lg border border-brzinc duration-150 hover:border-orange">
              <img class="h-10 w-40 object-contain object-center" src="./images/svg/najot.svg" alt="" />
            </li>
            <li
              class="flex h-18 w-50 items-center justify-center rounded-lg border border-brzinc duration-150 hover:border-orange">
              <img class="h-10 w-40 object-contain object-center" src="./images/svg/tecnocorp.svg" alt="" />
            </li>
            <li
              class="flex h-18 w-50 items-center justify-center rounded-lg border border-brzinc duration-150 hover:border-orange">
              <img class="h-10 w-40 object-contain object-center" src="./images/svg/metro.png" alt="" />
            </li>
            <li
              class="flex h-18 w-50 items-center justify-center rounded-lg border border-brzinc duration-150 hover:border-orange">
              <img class="h-10 w-40 object-contain object-center" src="./images/svg/davr-bank.png" alt="" />
            </li>
            <li
              class="flex h-18 w-50 items-center justify-center rounded-lg border border-brzinc duration-150 hover:border-orange">
              <img class="h-10 w-40 object-contain object-center" src="./images/svg/uniconsoft.svg" alt="" />
            </li>
          </ul>
          <ul aria-hidden="true" class="marquee__content flex items-center">
            <li
              class="flex h-18 w-50 items-center justify-center rounded-lg border border-brzinc duration-150 hover:border-orange">
              <img class="h-10 w-40 object-contain object-center" src="./images/svg/tecnocorp.svg" alt="" />
            </li>
            <li
              class="flex h-18 w-50 items-center justify-center rounded-lg border border-brzinc duration-150 hover:border-orange">
              <img class="h-10 w-40 object-contain object-center" src="./images/svg/offmax.svg" alt="" />
            </li>
            <li
              class="flex h-18 w-50 items-center justify-center rounded-lg border border-brzinc duration-150 hover:border-orange">
              <img class="h-10 w-40 object-contain object-center" src="./images/svg/tuning-logo.svg" alt="" />
            </li>
            <li
              class="flex h-18 w-50 items-center justify-center rounded-lg border border-brzinc duration-150 hover:border-orange">
              <img class="h-10 w-40 object-contain object-center" src="./images/svg/davr-bank.png" alt="" />
            </li>
            <li
              class="flex h-18 w-50 items-center justify-center rounded-lg border border-brzinc duration-150 hover:border-orange">
              <img class="h-10 w-40 object-contain object-center" src="./images/svg/uniconsoft.svg" alt="" />
            </li>
            <li
              class="flex h-18 w-50 items-center justify-center rounded-lg border border-brzinc duration-150 hover:border-orange">
              <img class="h-10 w-40 object-contain object-center" src="./images/svg/metro.png" alt="" />
            </li>
            <li
              class="flex h-18 w-50 items-center justify-center rounded-lg border border-brzinc duration-150 hover:border-orange">
              <img class="h-10 w-40 object-contain object-center" src="./images/svg/najot.svg" alt="" />
            </li>
            <li
              class="flex h-18 w-50 items-center justify-center rounded-lg border border-brzinc duration-150 hover:border-orange">
              <img class="h-10 w-40 object-contain object-center" src="./images/svg/eurosoft.png" alt="" />
            </li>
            <li
              class="flex h-18 w-50 items-center justify-center rounded-lg border border-brzinc duration-150 hover:border-orange">
              <img class="h-10 w-40 object-contain object-center" src="./images/svg/icon2.svg" alt="" />
            </li>
          </ul>
        </div>
      </div>
      <div class="enable-animation-l">
        <div class="marquee marquee--hover-pause">
          <ul class="marquee__content flex items-center">
            <li
              class="flex h-18 w-50 items-center justify-center rounded-lg border border-brzinc duration-150 hover:border-orange">
              <img class="h-10 w-40 object-contain object-center" src="./images/svg/umft.svg" alt="" />
            </li>
            <li
              class="flex h-18 w-50 items-center justify-center rounded-lg border border-brzinc duration-150 hover:border-orange">
              <img class="h-10 w-40 object-contain object-center" src="./images/svg/faceid.svg" alt="" />
            </li>
            <li
              class="flex h-18 w-50 items-center justify-center rounded-lg border border-brzinc duration-150 hover:border-orange">
              <img class="h-10 w-40 object-contain object-center" src="./images/svg/ishonch.svg" alt="" />
            </li>
            <li
              class="flex h-18 w-50 items-center justify-center rounded-lg border border-brzinc duration-150 hover:border-orange">
              <img class="h-10 w-40 object-contain object-center" src="./images/svg/zerodev.webp" alt="" />
            </li>
            <li
              class="flex h-18 w-50 items-center justify-center rounded-lg border border-brzinc duration-150 hover:border-orange">
              <img class="h-10 w-40 object-contain object-center" src="./images/svg/webase.png" alt="" />
            </li>
            <li
              class="flex h-18 w-50 items-center justify-center rounded-lg border border-brzinc duration-150 hover:border-orange">
              <img class="h-10 w-40 object-contain object-center" src="./images/svg/umft.svg" alt="" />
            </li>
            <li
              class="flex h-18 w-50 items-center justify-center rounded-lg border border-brzinc duration-150 hover:border-orange">
              <img class="h-10 w-40 object-contain object-center" src="./images/svg/agmk.png" alt="" />
            </li>
            <li
              class="flex h-18 w-50 items-center justify-center rounded-lg border border-brzinc duration-150 hover:border-orange">
              <img class="h-10 w-40 object-contain object-center" src="./images/svg/smartbase.png " alt="" />
            </li>
            <li
              class="flex h-18 w-50 items-center justify-center rounded-lg border border-brzinc duration-150 hover:border-orange">
              <img class="h-10 w-40 object-contain object-center" src="./images/svg/perfectum.svg" alt="" />
            </li>
          </ul>
          <ul aria-hidden="true" class="marquee__content flex items-center">
            <li
              class="flex h-18 w-50 items-center justify-center rounded-lg border border-brzinc duration-150 hover:border-orange">
              <img class="h-10 w-40 object-contain object-center" src="./images/svg/any.png" alt="" />
            </li>
            <li
              class="flex h-18 w-50 items-center justify-center rounded-lg border border-brzinc duration-150 hover:border-orange">
              <img class="h-10 w-40 object-contain object-center" src="./images/svg/trigo.svg" alt="" />
            </li>
            <li
              class="flex h-18 w-50 items-center justify-center rounded-lg border border-brzinc duration-150 hover:border-orange">
              <img class="h-10 w-40 object-contain object-center" src="./images/svg/newlok.png" alt="" />
            </li>
            <li
              class="flex h-18 w-50 items-center justify-center rounded-lg border border-brzinc duration-150 hover:border-orange">
              <img class="h-10 w-40 object-contain object-center" src="./images/svg/urc.png" alt="" />
            </li>
            <li
              class="flex h-18 w-50 items-center justify-center rounded-lg border border-brzinc duration-150 hover:border-orange">
              <img class="h-10 w-40 object-contain object-center" src="./images/svg/umft.svg" alt="" />
            </li>
            <li
              class="flex h-18 w-50 items-center justify-center rounded-lg border border-brzinc duration-150 hover:border-orange">
              <img class="h-10 w-40 object-contain object-center" src="./images/svg/logoipsum2.svg" alt="" />
            </li>
            <li
              class="mr-5 flex h-18 w-50 items-center justify-center rounded-lg border border-brzinc duration-150 hover:border-orange">
              <img class="h-10 w-40 object-contain object-center" src="./images/svg/offmax.svg" alt="" />
            </li>
            <li
              class="flex h-18 w-50 items-center justify-center rounded-lg border border-brzinc duration-150 hover:border-orange">
              <img class="h-10 w-40 object-contain object-center" src="./images/svg/icon.svg" alt="" />
            </li>
            <li
              class="flex h-18 w-50 items-center justify-center rounded-lg border border-brzinc duration-150 hover:border-orange">
              <img class="h-10 w-40 object-contain object-center" src="./images/svg/urc.png" alt="" />
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <section class="relative overflow-y-clip bg-quadro bg-cover bg-top bg-no-repeat pb-9 pt-10">
    <div class="mx-auto xl:container">
      <h2 class="text-center font-main font-bold text-white sm:mb-10 sm:text-2xl md:mb-6 md:text-h2"
        data-aos="fade-down" data-aos-duration="1000">
        Bizni ijtimoiy tarmoqlarda kuzating
      </h2>
      <ul class="flex items-center justify-center">
        <li class="mr-8 duration-150 hover:scale-x-110 hover:scale-y-110">
          <a class="block sm:h-12 sm:w-12 md:h-68 md:w-68" href="#!" data-aos="fade-right" data-aos-duration="1600"><img
              class="h-full w-full object-contain" src="./images/svg/facebook.svg" alt="" /></a>
        </li>
        <li class="mr-8 duration-150 hover:scale-x-110 hover:scale-y-110">
          <a class="block sm:h-12 sm:w-12 md:h-68 md:w-68" href="#!" data-aos="fade-right" data-aos-duration="1300"><img
              class="h-full w-full object-contain" src="./images/svg/telegram.svg" alt="" /></a>
        </li>
        <li class="mr-8 duration-150 hover:scale-x-110 hover:scale-y-110">
          <a class="block sm:h-12 sm:w-12 md:h-68 md:w-68" href="#!" data-aos="fade-right" data-aos-duration="1000"><img
              class="h-full w-full object-contain" src="./images/svg/instagram.svg" alt="" /></a>
        </li>
        <li class="duration-150 hover:scale-x-110 hover:scale-y-110">
          <a class="block sm:h-12 sm:w-12 md:h-68 md:w-68" href="#!" data-aos="fade-right" data-aos-duration="700"><img
              class="h-full w-full object-contain" src="./images/svg/youtube.svg" alt="" /></a>
        </li>
      </ul>
    </div>
    <div class="shadow-el3"></div>
    <div class="shadow-el4"></div>
  </section>
  <section class="bg-main sm:py-8 lg:pb-12 lg:pt-20">
    <div class="mx-auto xl:container md:px-5 xl:px-0">
      <!-- Slider main container -->
      <div>
        <div class="flex items-center justify-between sm:mb-8 lg:mb-14">
          <h3 class="font-main lg:text-2xl text-base font-bold text-white px-4 lg:px-0" data-aos="fade-right"
            data-aos-duration="1000">
            O‘quvchilarning fikrlari (Sharh)
          </h3>
          <!-- If we need navigation buttons -->
          <div class="justify-center sm:hidden md:flex" data-aos="fade-left" data-aos-duration="1000">
            <div
              class="swiper-button-next group static mr-6 mt-0 !h-15 !w-15 rounded border border-orange hover:bg-stone-900">
              <img class="h-6 w-6 object-contain duration-150 group-hover:scale-x-150 group-hover:scale-y-150"
                src="/images/svg/left-arrow.svg" alt="" />
            </div>
            <div
              class="swiper-button-prev group static mt-0 !h-15 !w-15 rounded border border-orange hover:bg-stone-900">
              <img class="h-5 w-5 object-contain duration-150 group-hover:scale-x-150 group-hover:scale-y-150"
                src="/images/svg/right-arrow.svg" alt="" />
            </div>
          </div>
        </div>
        <div class="swiper sm:pl-4 md:pl-0">
          <!-- Additional required wrapper -->
          <div class="swiper-wrapper">
            <!-- Slides -->
            @for (item of commentsOfCourses.commentsData(); track item.id) {

            <div class="swiper-slide">
              <article class="rounded border border-brzinc p-6" data-aos="zoom-in" data-aos-duration="1000">
                <div class="mb-4 flex sm:flex-col sm:items-center md:flex-row">
                  <div class="h-12 w-12 overflow-hidden rounded-full sm:mb-4 md:mb-0 md:mr-4">
                    <img class="h-full w-full object-contain object-top" src="./images/svg/empty-img.svg" alt="" />
                  </div>
                  <div>
                    <div class="mb-1 font-main text-base font-bold text-white sm:text-center md:text-left">
                      {{item.fullname}}
                    </div>
                    <div class="font-main text-base font-bold text-white opacity-60 sm:text-center md:text-left">
                      {{item.courseName}} kursi
                    </div>
                  </div>
                </div>
                <p class="line-clamp-6 font-main text-base font-bold text-white">
                  {{item.description}}
                </p>
              </article>
            </div>
            }
            <!-- <div class="swiper-slide">
              <article class="rounded border border-brzinc p-6" data-aos="zoom-in" data-aos-duration="1000">
                <div class="mb-4 flex sm:flex-col sm:items-center md:flex-row">
                  <div class="h-12 w-12 overflow-hidden rounded-full sm:mb-4 md:mb-0 md:mr-4">
                    <img class="h-full w-full object-contain object-top" src="./images/png/user1.png" alt="" />
                  </div>
                  <div>
                    <div class="mb-1 font-main text-base font-bold text-white">
                      Brooklyn Simmons
                    </div>
                    <div class="font-main text-base font-bold text-white opacity-60">
                      Logoipsum
                    </div>
                  </div>
                </div>
                <p class="line-clamp-6 font-main text-base font-bold text-white">
                  Sit ut diam bibendum dolor. Ullamcorper pharetra nibh eget
                  vitae pulvinar. Placerat sapien, dolor, aenean vivamus in
                  tincidunt et.
                </p>
              </article>
            </div>
            <div class="swiper-slide">
              <article class="rounded border border-brzinc p-6" data-aos="zoom-in" data-aos-duration="1000">
                <div class="mb-4 flex sm:flex-col sm:items-center md:flex-row">
                  <div class="h-12 w-12 overflow-hidden rounded-full sm:mb-4 md:mb-0 md:mr-4">
                    <img class="h-full w-full object-contain object-top" src="./images/png/user1.png" alt="" />
                  </div>
                  <div>
                    <div class="mb-1 font-main text-base font-bold text-white">
                      Brooklyn Simmons
                    </div>
                    <div class="font-main text-base font-bold text-white opacity-60">
                      Logoipsum
                    </div>
                  </div>
                </div>
                <p class="line-clamp-6 font-main text-base font-bold text-white">
                  Sit ut diam bibendum dolor. Ullamcorper pharetra nibh eget
                  vitae pulvinar. Placerat sapien, dolor, aenean vivamus in
                  tincidu
                </p>
              </article>
            </div>
            <div class="swiper-slide">
              <article class="rounded border border-brzinc p-6" data-aos="zoom-in" data-aos-duration="1000">
                <div class="mb-4 flex sm:flex-col sm:items-center md:flex-row">
                  <div class="h-12 w-12 overflow-hidden rounded-full sm:mb-4 md:mb-0 md:mr-4">
                    <img class="h-full w-full object-contain object-top" src="./images/png/user1.png" alt="" />
                  </div>
                  <div>
                    <div class="mb-1 font-main text-base font-bold text-white">
                      Brooklyn Simmons
                    </div>
                    <div class="font-main text-base font-bold text-white opacity-60">
                      Logoipsum
                    </div>
                  </div>
                </div>
                <p class="line-clamp-6 font-main text-base font-bold text-white">
                  Sit ut diam bibendum dolor. Ullamcorper pharetra nibh eget
                  vitae pulvinar.
                </p>
              </article>
            </div>
            <div class="swiper-slide">
              <article class="rounded border border-brzinc p-6" data-aos="zoom-in" data-aos-duration="1000">
                <div class="mb-4 flex sm:flex-col sm:items-center md:flex-row">
                  <div class="h-12 w-12 overflow-hidden rounded-full sm:mb-4 md:mb-0 md:mr-4">
                    <img class="h-full w-full object-contain object-top" src="./images/png/user1.png" alt="" />
                  </div>
                  <div>
                    <div class="mb-1 font-main text-base font-bold text-white">
                      Brooklyn Simmons
                    </div>
                    <div class="font-main text-base font-bold text-white opacity-60">
                      Logoipsum
                    </div>
                  </div>
                </div>
                <p class="line-clamp-6 font-main text-base font-bold text-white">
                  Sit ut diam bibendum dolor. Ullamcorper pharetra nibh eget
                  vitae pulvinar. Placerat sapien, dolor, aenean vivamus in
                  tincidunt et. Mauris
                </p>
              </article>
            </div>
            <div class="swiper-slide">
              <article class="rounded border border-brzinc p-6" data-aos="zoom-in" data-aos-duration="1000">
                <div class="mb-4 flex sm:flex-col sm:items-center md:flex-row">
                  <div class="h-12 w-12 overflow-hidden rounded-full sm:mb-4 md:mb-0 md:mr-4">
                    <img class="h-full w-full object-contain object-top" src="./images/png/user1.png" alt="" />
                  </div>
                  <div>
                    <div class="mb-1 font-main text-base font-bold text-white">
                      Brooklyn Simmons
                    </div>
                    <div class="font-main text-base font-bold text-white opacity-60">
                      Logoipsum
                    </div>
                  </div>
                </div>
                <p class="line-clamp-6 font-main text-base font-bold text-white">
                  Sit ut diam bibendum dolor. Ullamcorper pharetra nibh eget
                  vitae pulvinar. Placerat sapien, dolor, aenean vivamus in
                  tincidunt
                </p>
              </article>
            </div>
            <div class="swiper-slide">
              <article class="rounded border border-brzinc p-6" data-aos="zoom-in" data-aos-duration="1000">
                <div class="mb-4 flex sm:flex-col sm:items-center md:flex-row">
                  <div class="h-12 w-12 overflow-hidden rounded-full sm:mb-4 md:mb-0 md:mr-4">
                    <img class="h-full w-full object-contain object-top" src="./images/png/user1.png" alt="" />
                  </div>
                  <div>
                    <div class="mb-1 font-main text-base font-bold text-white">
                      Brooklyn Simmons
                    </div>
                    <div class="font-main text-base font-bold text-white opacity-60">
                      Logoipsum
                    </div>
                  </div>
                </div>
                <p class="line-clamp-6 font-main text-base font-bold text-white">
                  Sit ut diam bibendum dolor. Ullamcorper pharetra nibh eget
                  vitae pulvinar. Placerat sapien, dolor, aenean
                </p>
              </article>
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </section>
</main>